html {
    background: url("assets/images/comic-pattern.png");
    background-repeat;
}

.comicTitle {
    border-radius: 25px;
    border: 2px dashed white;
    padding: 20px 20px 40px 20px;
    margin: 20px;
    color: white;
    width: 600px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif
}

.comicPrice {
    color: white;
    padding: 20px;
    width: 45px;
    position: relative;
    padding: 60px 20px 20px 20px;
    bottom: 115px;
    left: 40px;
}